<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" >
	<meta charset="UTF-8">
	<title>作業者マスタメンテナンス</title>
</head>
<body>
	<header>
		<h1>
			<a href="/index">作業者マスタメンテナンス</a>
		</h1>
		<form th:action="@{/edit}" method="post">
		<input type="submit" name="insert" value="新規投稿">
		</form>
    </header>
	<div class="contents">
		<div class="search">
		<p class="searchTitle">検索条件：<p>
		<form method="post" th:action="@{/index}" th:object="${formModel}">
			<label>作業者ID </label><input type="text" name="user_id" th:value="${searchData.user_id}" maxlength='30'>
	        <label>作業者名 </label><input type="text" name="user_nm" th:value="${searchData.user_nm}" maxlength='30'><p>
		    <label>部門 </label>
		    <select name="bumon_cd">
				<option value=""></option>
				<option
					th:each="bumon : ${bumonList}"
					th:value="${bumon.bumon_cd}"
					th:text="${bumon.bumon_mei}"
					th:selected="${bumon.bumon_cd == searchData.selectedBumonCd}">
	            </option>
	        </select>
	        <input type="checkbox" name="muko_flg" th:checked="${searchData.muko_flg}" value="1"/>無効を含む
	        <p>
		    <input type="submit" value="検索">
	    </form>
	  </div>
	  <div class="result">
	      <table>
	        <tr>
	 	       <td>作業者ID</td>
	        	<td>作業者名</td>
	        	<td>部門</td>
	        	<td>ロール</td>
	        	<td>メールアドレス</td>
	        	<td>携帯番号</td>
	        	<td>登録日</td>
	        	<td>更新日</td>
	        	<td>無効フラグ</td>
	        </tr>
	        <tr th:each="userL : ${userList}">
	            <td><p th:text="${userL.user_id}"></p></td>
	            <td><p th:text="${userL.user_nm}"></p></td>
	            <td><p th:text="${userL.bumon_mei}"></p></td>
	            <td><p th:text="${userL.role_id}"></p></td>
	            <td><p th:text="${userL.address}"></p></td>
	            <td><p th:text="${userL.phone}"></p></td>
	            <td><p th:text="${#temporals.format(userL.torokubi, 'yyyy/MM/dd')}"></p></td>
	            <td><p th:text="${#temporals.format(userL.koshinbi, 'yyyy/MM/dd')}"></p></td>
	            <td><input type="checkbox" th:checked="${userL.muko_flg}" disabled></td>
	            <td>
	            <form th:action="@{/edit}" method="post" th:object="${updFormModel}">
	                    <input type="submit" name="update" value="編集">
	                    <input type="hidden" name="kanri_no" th:value="${userL.kanri_no}">
	            </form>
	            </td>
	        </tr>
	    </table>
	  </div>
	</div>
	<footer>
    <br>
    </footer>
</body>
</html>